Repository RocketChat/Rocket.Chat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RocketChat/Architecture, @RocketChat/apps, @RocketChat/backend, @RocketChat/frontend, @RocketChat/omnichannel

fix: utcoffset permission not needed
  apps/meteor/app/authorization/server/constant/permissions.ts
  packages/i18n/src/locales/en.i18n.json
Owners: none

feat: Livechat department removed/disabled events for apps (#35280)
  .changeset/big-tips-greet.md
  apps/meteor/app/apps/server/bridges/listeners.js
  apps/meteor/app/livechat/server/lib/departmentsLib.ts
  packages/apps-engine/src/definition/livechat/ILivechatEventContext.ts
  packages/apps-engine/src/definition/livechat/IPostLivechatDepartmentDisabled.ts
  packages/apps-engine/src/definition/livechat/IPostLivechatDepartmentRemoved.ts
  packages/apps-engine/src/definition/livechat/index.ts
  packages/apps-engine/src/definition/metadata/AppInterface.ts
  packages/apps-engine/src/definition/metadata/AppMethod.ts
  packages/apps-engine/src/server/managers/AppListenerManager.ts
  packages/apps/src/bridges/IListenerBridge.ts
Owners: @RocketChat/apps, @RocketChat/omnichannel

chore: Suspend `SettingsProvider` (#35561)
  apps/meteor/client/omnichannel/securityPrivacy/SecurityPrivacyRoute.tsx
  apps/meteor/client/providers/SettingsProvider.tsx
  apps/meteor/client/sidebar/Sidebar.stories.tsx
  apps/meteor/client/sidebarv2/Sidebar.stories.tsx
  apps/meteor/client/views/account/AccountSidebar.tsx
  apps/meteor/client/views/admin/AdministrationRouter.tsx
  apps/meteor/client/views/admin/featurePreview/AdminFeaturePreviewRoute.tsx
  apps/meteor/client/views/admin/settings/SettingsPage.tsx
  apps/meteor/client/views/admin/sidebar/AdminSidebar.tsx
  apps/meteor/client/views/marketplace/MarketplaceSidebar.tsx
  apps/meteor/client/views/omnichannel/sidebar/OmnichannelSidebar.tsx
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/mock-providers/src/MockedSettingsContext.tsx
  packages/ui-client/src/components/Header/Header.stories.tsx
  packages/ui-client/src/components/HeaderV2/Header.stories.tsx
  packages/ui-contexts/src/SettingsContext.ts
  packages/ui-contexts/src/hooks/useIsSettingsContextLoading.ts
  packages/ui-contexts/src/index.ts
Owners: @RocketChat/omnichannel, @RocketChat/frontend

chore: Subclasses of `CachedCollection` (#35556)
  apps/meteor/app/models/client/models/CachedChatRoom.ts
  apps/meteor/app/models/client/models/CachedChatSubscription.ts
  apps/meteor/app/models/client/models/Permissions.ts
  apps/meteor/client/lib/cachedCollections/CachedCollection.ts
  apps/meteor/client/lib/cachedCollections/index.ts
  apps/meteor/client/lib/settings/PrivateSettingsCachedCollection.ts
  apps/meteor/client/lib/settings/PublicSettingsCachedCollection.ts
Owners: @RocketChat/frontend

chore: Purge unused model (#35560)
  apps/meteor/app/models/client/models/Base.ts
Owners: none

Deploy preview for PR 34494 🛫
  pr-preview/pr-34494/fuselage-ui-kit/project.json
  pr-preview/pr-34494/gazzodown/project.json
  pr-preview/pr-34494/ui-composer/project.json
Owners: none

Add new script
  apps/meteor/.scripts/replaceTranslationSprintfParams.ts
  apps/meteor/package.json
Owners: none

chore: Get rid of `CannedResponse` collection (#35562)
  apps/meteor/app/canned-responses/client/collections/CannedResponse.ts
  apps/meteor/app/canned-responses/client/index.ts
  apps/meteor/app/canned-responses/client/startup/responses.ts
  apps/meteor/client/importPackages.ts
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/views/room/providers/ComposerPopupProvider.tsx
  apps/meteor/client/views/room/providers/hooks/useCannedResponsesQuery.ts
Owners: @RocketChat/frontend

Deploy preview for PR 34494 🛫
  pr-preview/pr-34494/fuselage-ui-kit/736.01a0ee13.iframe.bundle.js
  pr-preview/pr-34494/fuselage-ui-kit/736.01a0ee13.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-34494/fuselage-ui-kit/736.01a0ee13.iframe.bundle.js.map
  pr-preview/pr-34494/fuselage-ui-kit/736.38a0767e.iframe.bundle.js
  pr-preview/pr-34494/fuselage-ui-kit/736.38a0767e.iframe.bundle.js.map
  pr-preview/pr-34494/fuselage-ui-kit/iframe.html
  pr-preview/pr-34494/fuselage-ui-kit/project.json
  pr-preview/pr-34494/fuselage-ui-kit/runtime~main.cafd5218.iframe.bundle.js
  pr-preview/pr-34494/fuselage-ui-kit/runtime~main.f01f83e2.iframe.bundle.js
  pr-preview/pr-34494/gazzodown/Markup-stories.63a63e25.iframe.bundle.js
  pr-preview/pr-34494/gazzodown/Markup-stories.63a63e25.iframe.bundle.js.map
  pr-preview/pr-34494/gazzodown/Markup-stories.79bc3177.iframe.bundle.js
  pr-preview/pr-34494/gazzodown/Markup-stories.79bc3177.iframe.bundle.js.map
  pr-preview/pr-34494/gazzodown/iframe.html
  pr-preview/pr-34494/gazzodown/project.json
  pr-preview/pr-34494/gazzodown/runtime~main.341915e6.iframe.bundle.js
  pr-preview/pr-34494/gazzodown/runtime~main.614d1aae.iframe.bundle.js
  pr-preview/pr-34494/uikit-playground/assets/CodeBlock-B9ShLHq-.js
  pr-preview/pr-34494/uikit-playground/assets/KatexBlock-B5p_dPTS.js
  pr-preview/pr-34494/uikit-playground/assets/KatexBlock-Lsl66Ep9.js
  pr-preview/pr-34494/uikit-playground/assets/KatexElement-Dh-Josre.js
  pr-preview/pr-34494/uikit-playground/assets/KatexElement-Dyn_umKS.js
  pr-preview/pr-34494/uikit-playground/assets/index-C8feNw68.js
  pr-preview/pr-34494/uikit-playground/assets/index-C9DfdOo9.js
  pr-preview/pr-34494/uikit-playground/index.html
Owners: none

fix(mongo-adapter): use tsconfig package
  packages/mongo-adapter/tsconfig.json
Owners: none

refactor: create `useNotifyNewRoom`
  apps/meteor/client/hooks/useNotifyNewRoom.ts
Owners: @RocketChat/frontend

refactor: replace `KonchatNotification.newRoom()` with `useNotifyNewRoom`
  apps/meteor/client/hooks/useNotifyUser.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
Owners: @RocketChat/frontend

chore: remove deprecated `newRoom` method
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
Owners: none

Deploy preview for PR 35568 🛫
  pr-preview/pr-35568/fuselage-ui-kit/736.64553d19.iframe.bundle.js
  pr-preview/pr-35568/fuselage-ui-kit/736.64553d19.iframe.bundle.js.map
  pr-preview/pr-35568/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35568/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35568/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35568/fuselage-ui-kit/iframe.html
  pr-preview/pr-35568/fuselage-ui-kit/project.json
  pr-preview/pr-35568/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35568/fuselage-ui-kit/runtime~main.f8a5640a.iframe.bundle.js
  pr-preview/pr-35568/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35568/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35568/gazzodown/Markup-stories.8d99689f.iframe.bundle.js
  pr-preview/pr-35568/gazzodown/Markup-stories.8d99689f.iframe.bundle.js.map
  pr-preview/pr-35568/gazzodown/iframe.html
  pr-preview/pr-35568/gazzodown/project.json
  pr-preview/pr-35568/gazzodown/runtime~main.e91293ff.iframe.bundle.js
  pr-preview/pr-35568/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35568/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35568/uikit-playground/assets/KatexBlock-BeOxSnpU.js
  pr-preview/pr-35568/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35568/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35568/uikit-playground/assets/KatexElement-DMKKvzER.js
  pr-preview/pr-35568/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35568/uikit-playground/assets/index-DA3iIzIS.js
  pr-preview/pr-35568/uikit-playground/index.html
Owners: none

Get Deno version from .tool-versions file
  .tool-versions
  packages/release-action/src/getMetadata.ts
  packages/release-action/src/utils.ts
Owners: none

Deploy preview for PR 35553 🛫
  pr-preview/pr-35553/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35553/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/iframe.html
  pr-preview/pr-35553/fuselage-ui-kit/project.json
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/iframe.html
  pr-preview/pr-35553/gazzodown/project.json
  pr-preview/pr-35553/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35553/ui-composer/project.json
  pr-preview/pr-35553/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35553/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35553/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35553/uikit-playground/index.html
Owners: none

review
  ee/apps/ddp-streamer/src/DDPStreamer.ts
Owners: none

Deploy preview for PR 35567 🛫
  pr-preview/pr-35567/fuselage-ui-kit/736.64553d19.iframe.bundle.js
  pr-preview/pr-35567/fuselage-ui-kit/736.64553d19.iframe.bundle.js.map
  pr-preview/pr-35567/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35567/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35567/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35567/fuselage-ui-kit/iframe.html
  pr-preview/pr-35567/fuselage-ui-kit/project.json
  pr-preview/pr-35567/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35567/fuselage-ui-kit/runtime~main.f8a5640a.iframe.bundle.js
  pr-preview/pr-35567/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35567/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35567/gazzodown/Markup-stories.8d99689f.iframe.bundle.js
  pr-preview/pr-35567/gazzodown/Markup-stories.8d99689f.iframe.bundle.js.map
  pr-preview/pr-35567/gazzodown/iframe.html
  pr-preview/pr-35567/gazzodown/project.json
  pr-preview/pr-35567/gazzodown/runtime~main.e91293ff.iframe.bundle.js
  pr-preview/pr-35567/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35567/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35567/uikit-playground/assets/KatexBlock-BeOxSnpU.js
  pr-preview/pr-35567/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35567/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35567/uikit-playground/assets/KatexElement-DMKKvzER.js
  pr-preview/pr-35567/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35567/uikit-playground/assets/index-DA3iIzIS.js
  pr-preview/pr-35567/uikit-playground/index.html
Owners: none

Deploy preview for PR 35218 🛫
  pr-preview/pr-35218/fuselage-ui-kit/736.0b45657a.iframe.bundle.js
  pr-preview/pr-35218/fuselage-ui-kit/736.0b45657a.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35218/fuselage-ui-kit/736.0b45657a.iframe.bundle.js.map
  pr-preview/pr-35218/fuselage-ui-kit/736.e068aa7a.iframe.bundle.js
  pr-preview/pr-35218/fuselage-ui-kit/736.e068aa7a.iframe.bundle.js.map
  pr-preview/pr-35218/fuselage-ui-kit/iframe.html
  pr-preview/pr-35218/fuselage-ui-kit/project.json
  pr-preview/pr-35218/fuselage-ui-kit/runtime~main.9a07002d.iframe.bundle.js
  pr-preview/pr-35218/fuselage-ui-kit/runtime~main.d8f889a3.iframe.bundle.js
  pr-preview/pr-35218/gazzodown/Markup-stories.4389627f.iframe.bundle.js
  pr-preview/pr-35218/gazzodown/Markup-stories.4389627f.iframe.bundle.js.map
  pr-preview/pr-35218/gazzodown/Markup-stories.a2b8847d.iframe.bundle.js
  pr-preview/pr-35218/gazzodown/Markup-stories.a2b8847d.iframe.bundle.js.map
  pr-preview/pr-35218/gazzodown/iframe.html
  pr-preview/pr-35218/gazzodown/project.json
  pr-preview/pr-35218/gazzodown/runtime~main.3842b453.iframe.bundle.js
  pr-preview/pr-35218/gazzodown/runtime~main.74061e42.iframe.bundle.js
  pr-preview/pr-35218/uikit-playground/assets/CodeBlock-P9Q43EMX.js
  pr-preview/pr-35218/uikit-playground/assets/KatexBlock-CzzPSHDY.js
  pr-preview/pr-35218/uikit-playground/assets/KatexBlock-DLVkzrGG.js
  pr-preview/pr-35218/uikit-playground/assets/KatexElement-CjxdKEmr.js
  pr-preview/pr-35218/uikit-playground/assets/KatexElement-D8qloT5z.js
  pr-preview/pr-35218/uikit-playground/assets/index-Rb2yL13o.js
  pr-preview/pr-35218/uikit-playground/assets/index-fgWgaYtY.js
  pr-preview/pr-35218/uikit-playground/index.html
Owners: none

test: Flaky test message-bubble-color
  .github/workflows/ci-test-e2e.yml
  apps/meteor/tests/e2e/flaky/01-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/02-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/03-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/04-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/05-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/06-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/07-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/08-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/09-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/10-omnichannel-livechat-message-bubble-color.spec.ts
Owners: @RocketChat/Architecture, @RocketChat/frontend

Deploy preview for PR 35340 🛫
  pr-preview/pr-35340/fuselage-ui-kit/736.64553d19.iframe.bundle.js
  pr-preview/pr-35340/fuselage-ui-kit/736.64553d19.iframe.bundle.js.map
  pr-preview/pr-35340/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35340/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35340/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35340/fuselage-ui-kit/iframe.html
  pr-preview/pr-35340/fuselage-ui-kit/project.json
  pr-preview/pr-35340/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35340/fuselage-ui-kit/runtime~main.f8a5640a.iframe.bundle.js
  pr-preview/pr-35340/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35340/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35340/gazzodown/Markup-stories.8d99689f.iframe.bundle.js
  pr-preview/pr-35340/gazzodown/Markup-stories.8d99689f.iframe.bundle.js.map
  pr-preview/pr-35340/gazzodown/iframe.html
  pr-preview/pr-35340/gazzodown/project.json
  pr-preview/pr-35340/gazzodown/runtime~main.e91293ff.iframe.bundle.js
  pr-preview/pr-35340/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35340/ui-composer/project.json
  pr-preview/pr-35340/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35340/uikit-playground/assets/KatexBlock-BeOxSnpU.js
  pr-preview/pr-35340/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35340/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35340/uikit-playground/assets/KatexElement-DMKKvzER.js
  pr-preview/pr-35340/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35340/uikit-playground/assets/index-DA3iIzIS.js
  pr-preview/pr-35340/uikit-playground/index.html
Owners: none

Deploy preview for PR 35218 🛫
  pr-preview/pr-35218/fuselage-ui-kit/project.json
  pr-preview/pr-35218/gazzodown/project.json
  pr-preview/pr-35218/ui-composer/project.json
Owners: none

lint
  ee/apps/ddp-streamer/src/DDPStreamer.ts
Owners: none

Deploy preview for PR 35078 🛫
  pr-preview/pr-35078/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35078/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35078/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35078/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35078/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35078/fuselage-ui-kit/iframe.html
  pr-preview/pr-35078/fuselage-ui-kit/project.json
  pr-preview/pr-35078/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35078/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35078/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35078/gazzodown/iframe.html
  pr-preview/pr-35078/gazzodown/project.json
  pr-preview/pr-35078/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35078/ui-composer/project.json
  pr-preview/pr-35078/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35078/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35078/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35078/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35078/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35078/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35078/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35078/uikit-playground/index.html
Owners: none

refactor: remove KonchatNotification `newRoom` from meteor (#35567)
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
  apps/meteor/client/hooks/useNotifyNewRoom.ts
  apps/meteor/client/hooks/useNotifyUser.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
Owners: @RocketChat/frontend

Deploy preview for PR 35218 🛫
  pr-preview/pr-35218/fuselage-ui-kit/project.json
  pr-preview/pr-35218/gazzodown/project.json
  pr-preview/pr-35218/ui-composer/project.json
Owners: none

remove `_updatedAtIndexOptions` from options
  packages/models/src/models/BaseRaw.ts
Owners: @RocketChat/Architecture

stopt using `_updatedAtIndexOptions` and use `modelIdexes` instead
  packages/models/src/models/AppLogsModel.ts
  packages/models/src/models/BaseRaw.ts
Owners: @RocketChat/Architecture

chore: set yarn nmMode to hardlinks-local
  .yarnrc.yml
Owners: none

Remove TTL for app logs
  apps/meteor/ee/server/apps/startup.ts
  packages/model-typings/src/models/IAppLogsModel.ts
  packages/models/src/models/AppLogsModel.ts
Owners: @RocketChat/Architecture

[FEAT] passkey registration
  .yarnrc.yml
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/client/views/account/security/AccountSecurityPage.tsx
  apps/meteor/client/views/account/security/Passkeys.tsx
  apps/meteor/package.json
  yarn.lock
Owners: @RocketChat/frontend

Create fifty-moles-boil.md
  .changeset/fifty-moles-boil.md
Owners: none

refactor: create `useNewMessageNotification`
  apps/meteor/client/hooks/useNewMessageNotification.ts
Owners: @RocketChat/frontend

refactor: replace `KonchatNotification.newMessage()` with ``useNewMessageNotification``
  apps/meteor/client/hooks/useNotifyUser.ts
Owners: @RocketChat/frontend

chore: remove deprecated `newMessage` method
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
Owners: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/ui-composer/project.json
Owners: none

chore: reorg files into `hooks/notification` folder
  apps/meteor/client/hooks/notification/useNewMessageNotification.ts
  apps/meteor/client/hooks/notification/useNewRoomNotification.ts
  apps/meteor/client/hooks/notification/useNotifyUser.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/client/views/root/AppLayout.tsx
Owners: @RocketChat/frontend

Deploy preview for PR 35299 🛫
  pr-preview/pr-35299/fuselage-ui-kit/project.json
  pr-preview/pr-35299/gazzodown/project.json
  pr-preview/pr-35299/ui-composer/project.json
Owners: none

Deploy preview for PR 35218 🛫
  pr-preview/pr-35218/ui-composer/project.json
Owners: none

Deploy preview for PR 35497 🛫
  pr-preview/pr-35497/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35497/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35497/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35497/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35497/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35497/fuselage-ui-kit/iframe.html
  pr-preview/pr-35497/fuselage-ui-kit/project.json
  pr-preview/pr-35497/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35497/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35497/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35497/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35497/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35497/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35497/gazzodown/iframe.html
  pr-preview/pr-35497/gazzodown/project.json
  pr-preview/pr-35497/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35497/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35497/ui-composer/project.json
  pr-preview/pr-35497/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35497/uikit-playground/assets/KatexBlock-BCi8jEiF.js
  pr-preview/pr-35497/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35497/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35497/uikit-playground/assets/KatexElement-DB6HSfaW.js
  pr-preview/pr-35497/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35497/uikit-playground/assets/index-Dkl4FUKx.js
  pr-preview/pr-35497/uikit-playground/index.html
Owners: none

.github/CODEOWNERS:

/packages/* @RocketChat/Architecture
/packages/apps-engine/ @RocketChat/apps
/packages/core-typings/ @RocketChat/Architecture
/packages/rest-typings/ @RocketChat/Architecture @RocketChat/backend
/packages/ui-contexts/ @RocketChat/frontend
/packages/eslint-config/ @RocketChat/Architecture
/packages/livechat/ @RocketChat/frontend @RocketChat/Architecture
/.vscode/ @RocketChat/Architecture
/.github/ @RocketChat/Architecture
/_templates/ @RocketChat/Architecture
/apps/meteor/client/ @RocketChat/frontend
/apps/meteor/tests/e2e @RocketChat/frontend
/apps/meteor/tests/end-to-end @RocketChat/backend
/apps/meteor/tests/unit/app @RocketChat/backend
/apps/meteor/tests/unit/app/ui-utils @RocketChat/frontend
/apps/meteor/tests/unit/client @RocketChat/frontend
/apps/meteor/tests/unit/server @RocketChat/backend
/apps/meteor/app/apps/ @RocketChat/apps
/apps/meteor/app/livechat @RocketChat/omnichannel
/apps/meteor/app/voip @RocketChat/omnichannel
/apps/meteor/app/sms @RocketChat/omnichannel
/apps/meteor/server @RocketChat/backend
/packages/models @RocketChat/Architecture
apps/meteor/server/startup/migrations @RocketChat/Architecture
/apps/meteor/packages/rocketchat-livechat @RocketChat/omnichannel
/apps/meteor/server/services/voip-asterisk @RocketChat/omnichannel
/apps/meteor/server/services/omnichannel-voip @RocketChat/omnichannel
/apps/meteor/server/features/EmailInbox @RocketChat/omnichannel
/apps/meteor/ee/app/canned-responses @RocketChat/omnichannel
/apps/meteor/ee/app/livechat @RocketChat/omnichannel
/apps/meteor/ee/app/livechat-enterprise @RocketChat/omnichannel
/apps/meteor/client/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/voip @RocketChat/omnichannel
