Repository RocketChat/Rocket.Chat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RocketChat/Architecture, @RocketChat/apps, @RocketChat/backend, @RocketChat/frontend, @RocketChat/omnichannel

fix: $unset app permissions if none are given
  apps/meteor/ee/server/apps/storage/AppRealStorage.ts
Owners: none

chore: removing unused import
  apps/meteor/ee/server/apps/storage/AppRealStorage.ts
Owners: none

chore: lint fix
  apps/meteor/ee/server/apps/storage/AppRealStorage.ts
Owners: none

Create shy-moles-boil.md
  .changeset/shy-moles-boil.md
Owners: none

Deploy preview for PR 35078 🛫
  pr-preview/pr-35078/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35078/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35078/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35078/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35078/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35078/fuselage-ui-kit/iframe.html
  pr-preview/pr-35078/fuselage-ui-kit/project.json
  pr-preview/pr-35078/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35078/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35078/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35078/gazzodown/iframe.html
  pr-preview/pr-35078/gazzodown/project.json
  pr-preview/pr-35078/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35078/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35078/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35078/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35078/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35078/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35078/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35078/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35078/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35078/uikit-playground/index.html
Owners: none

Deploy preview for PR 35585 🛫
  pr-preview/pr-35585/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35585/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35585/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35585/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35585/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35585/fuselage-ui-kit/iframe.html
  pr-preview/pr-35585/fuselage-ui-kit/project.json
  pr-preview/pr-35585/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35585/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35585/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35585/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35585/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35585/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35585/gazzodown/iframe.html
  pr-preview/pr-35585/gazzodown/project.json
  pr-preview/pr-35585/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35585/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35585/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35585/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35585/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35585/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35585/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35585/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35585/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35585/uikit-playground/index.html
Owners: none

refactor: create `useNotification`
  apps/meteor/client/hooks/notification/useNotification.ts
Owners: @RocketChat/frontend

refactor: replace `KonchatNotification.notify` with `useNotification`
  apps/meteor/client/hooks/notification/useDesktopNotification.ts
  apps/meteor/client/views/account/preferences/PreferencesNotificationsSection.tsx
Owners: @RocketChat/frontend

chore: remove deprecated `notify` method
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
Owners: none

Deploy preview for PR 35544 🛫
  pr-preview/pr-35544/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35544/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35544/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35544/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35544/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35544/fuselage-ui-kit/iframe.html
  pr-preview/pr-35544/fuselage-ui-kit/project.json
  pr-preview/pr-35544/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35544/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35544/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35544/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35544/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35544/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35544/gazzodown/iframe.html
  pr-preview/pr-35544/gazzodown/project.json
  pr-preview/pr-35544/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35544/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35544/ui-composer/project.json
  pr-preview/pr-35544/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35544/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35544/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35544/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35544/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35544/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35544/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35544/uikit-playground/index.html
Owners: none

regression: topic rendering in DMs in new navigation (#35553)
  apps/meteor/client/views/room/body/RoomTopic.spec.tsx
  apps/meteor/client/views/room/body/RoomTopic.tsx
Owners: @RocketChat/frontend

Remove collection from `EditableSettingsProvider`
  apps/meteor/client/views/admin/EditableSettingsContext.ts
  apps/meteor/client/views/admin/settings/EditableSettingsProvider.tsx
  apps/meteor/client/views/admin/settings/SettingsRoute.tsx
Owners: @RocketChat/frontend

Use Zustand
  apps/meteor/client/views/admin/EditableSettingsContext.ts
  apps/meteor/client/views/admin/settings/EditableSettingsProvider.tsx
  apps/meteor/package.json
  yarn.lock
Owners: @RocketChat/frontend

don't allow edit message action on otr message
  apps/meteor/client/components/message/toolbar/useEditMessageAction.ts
Owners: @RocketChat/frontend

skip OTR message when using keyboard events for editing
  apps/meteor/app/ui/client/lib/ChatMessages.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/chats/data.ts
Owners: @RocketChat/frontend

add cs
  .changeset/hungry-games-smoke.md
Owners: none

regression: topic rendering in DMs in new navigation (#35553)
  apps/meteor/client/views/room/body/RoomTopic.tsx
Owners: @RocketChat/frontend

chore: Replace collection with Zustand store in `EditableSettingsProvider` (#35597)
  apps/meteor/client/views/admin/EditableSettingsContext.ts
  apps/meteor/client/views/admin/settings/EditableSettingsProvider.tsx
  apps/meteor/client/views/admin/settings/SettingsRoute.tsx
  apps/meteor/package.json
  yarn.lock
Owners: @RocketChat/frontend

regression: We were not keeping track of the blocks if through BlockBuilder
  packages/apps-engine/deno-runtime/lib/accessors/builders/MessageBuilder.ts
Owners: @RocketChat/apps

fix: adding blocks from block builder to the changeset
  packages/apps-engine/deno-runtime/lib/accessors/builders/MessageBuilder.ts
Owners: @RocketChat/apps

refactor: remove KonchatNotification `notify` from meteor (#35585)
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
  apps/meteor/client/hooks/notification/useDesktopNotification.ts
  apps/meteor/client/hooks/notification/useNotification.ts
  apps/meteor/client/views/account/preferences/PreferencesNotificationsSection.tsx
Owners: @RocketChat/frontend

fix: empty topic being displayed
  apps/meteor/client/views/room/body/RoomTopic.tsx
  apps/meteor/tests/e2e/feature-preview.spec.ts
Owners: @RocketChat/frontend

Deploy preview for PR 35587 🛫
  pr-preview/pr-35587/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35587/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35587/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35587/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35587/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35587/fuselage-ui-kit/iframe.html
  pr-preview/pr-35587/fuselage-ui-kit/project.json
  pr-preview/pr-35587/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35587/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35587/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35587/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35587/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35587/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35587/gazzodown/iframe.html
  pr-preview/pr-35587/gazzodown/project.json
  pr-preview/pr-35587/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35587/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35587/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35587/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35587/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35587/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35587/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35587/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35587/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35587/uikit-playground/index.html
Owners: none

reduce rerenders
  apps/meteor/app/emoji-custom/client/lib/emojiCustom.ts
  apps/meteor/app/emoji-emojione/client/hooks/useEmojiOne.ts
  apps/meteor/app/emoji/client/helpers.ts
  apps/meteor/app/emoji/client/index.ts
  apps/meteor/app/emoji/client/lib.ts
  apps/meteor/app/emoji/lib/rocketchat.ts
  apps/meteor/client/contexts/EmojiPickerContext.ts
  apps/meteor/client/providers/EmojiPickerProvider/EmojiPickerProvider.tsx
  apps/meteor/client/views/composer/EmojiPicker/EmojiPicker.tsx
Owners: @RocketChat/frontend

add cs
  .changeset/thirty-cameras-warn.md
Owners: none

chore: Prevent `useEmojiOne` operations from running every render (#35587)
  apps/meteor/app/emoji-emojione/client/hooks/useEmojiOne.ts
Owners: none

fix ts
  apps/meteor/app/emoji/client/lib.ts
  apps/meteor/app/emoji/lib/rocketchat.ts
Owners: none

refactor: improves status change schedule
  apps/meteor/ee/server/configuration/outlookCalendar.ts
  apps/meteor/server/services/calendar/service.ts
  apps/meteor/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
  packages/core-services/src/types/ICalendarService.ts
  packages/model-typings/src/models/ICalendarEventModel.ts
  packages/models/src/models/CalendarEvent.ts
Owners: @RocketChat/backend, @RocketChat/Architecture

feat: add autoComplete attribute for TOTP input fields
  apps/meteor/client/components/TwoFactorModal/TwoFactorTotpModal.tsx
  apps/meteor/client/views/account/security/TwoFactorTOTP.tsx
  yarn.lock
Owners: @RocketChat/frontend

test: removes unneeded unit tests
  apps/meteor/server/services/calendar/service.ts
  apps/meteor/tests/unit/server/services/calendar/service.tests.ts
Owners: @RocketChat/backend

chore: declare global `NotificationEventMap`
  apps/meteor/client/definitions/global.d.ts
Owners: @RocketChat/frontend

chore: remove KonchatNotification class
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
  apps/meteor/client/views/account/preferences/PreferencesNotificationsSection.tsx
  apps/meteor/client/views/home/HomePage.tsx
Owners: @RocketChat/frontend

refactor: :recycle: Remove meteor functions from messagePopupConfig
  apps/meteor/app/ui-message/client/popup/messagePopupConfig.ts
  apps/meteor/client/lib/queryKeys.ts
  apps/meteor/client/views/room/providers/ComposerPopupProvider.tsx
  apps/meteor/client/views/root/hooks/useRoomMessageUsers.ts
Owners: @RocketChat/frontend

regression: Empty topic being displayed in direct messages (#35604)
  apps/meteor/client/views/room/body/RoomTopic.tsx
  apps/meteor/tests/e2e/feature-preview.spec.ts
Owners: @RocketChat/frontend

.github/CODEOWNERS:

/packages/* @RocketChat/Architecture
/packages/apps-engine/ @RocketChat/apps
/packages/core-typings/ @RocketChat/Architecture
/packages/rest-typings/ @RocketChat/Architecture @RocketChat/backend
/packages/ui-contexts/ @RocketChat/frontend
/packages/eslint-config/ @RocketChat/Architecture
/packages/livechat/ @RocketChat/frontend @RocketChat/Architecture
/.vscode/ @RocketChat/Architecture
/.github/ @RocketChat/Architecture
/_templates/ @RocketChat/Architecture
/apps/meteor/client/ @RocketChat/frontend
/apps/meteor/tests/e2e @RocketChat/frontend
/apps/meteor/tests/end-to-end @RocketChat/backend
/apps/meteor/tests/unit/app @RocketChat/backend
/apps/meteor/tests/unit/app/ui-utils @RocketChat/frontend
/apps/meteor/tests/unit/client @RocketChat/frontend
/apps/meteor/tests/unit/server @RocketChat/backend
/apps/meteor/app/apps/ @RocketChat/apps
/apps/meteor/app/livechat @RocketChat/omnichannel
/apps/meteor/app/voip @RocketChat/omnichannel
/apps/meteor/app/sms @RocketChat/omnichannel
/apps/meteor/server @RocketChat/backend
/packages/models @RocketChat/Architecture
apps/meteor/server/startup/migrations @RocketChat/Architecture
/apps/meteor/packages/rocketchat-livechat @RocketChat/omnichannel
/apps/meteor/server/services/voip-asterisk @RocketChat/omnichannel
/apps/meteor/server/services/omnichannel-voip @RocketChat/omnichannel
/apps/meteor/server/features/EmailInbox @RocketChat/omnichannel
/apps/meteor/ee/app/canned-responses @RocketChat/omnichannel
/apps/meteor/ee/app/livechat @RocketChat/omnichannel
/apps/meteor/ee/app/livechat-enterprise @RocketChat/omnichannel
/apps/meteor/client/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/voip @RocketChat/omnichannel
