Repository RocketChat/Rocket.Chat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RocketChat/Architecture, @RocketChat/apps, @RocketChat/backend, @RocketChat/frontend, @RocketChat/omnichannel

.github/CODEOWNERS:

/packages/* @RocketChat/Architecture
/packages/apps-engine/ @RocketChat/apps
/packages/core-typings/ @RocketChat/Architecture
/packages/rest-typings/ @RocketChat/Architecture @RocketChat/backend
/packages/ui-contexts/ @RocketChat/frontend
/packages/eslint-config/ @RocketChat/Architecture
/packages/livechat/ @RocketChat/frontend @RocketChat/Architecture
/.vscode/ @RocketChat/Architecture
/.github/ @RocketChat/Architecture
/_templates/ @RocketChat/Architecture
/apps/meteor/client/ @RocketChat/frontend
/apps/meteor/tests/e2e @RocketChat/frontend
/apps/meteor/tests/end-to-end @RocketChat/backend
/apps/meteor/tests/unit/app @RocketChat/backend
/apps/meteor/tests/unit/app/ui-utils @RocketChat/frontend
/apps/meteor/tests/unit/client @RocketChat/frontend
/apps/meteor/tests/unit/server @RocketChat/backend
/apps/meteor/app/apps/ @RocketChat/apps
/apps/meteor/app/livechat @RocketChat/omnichannel
/apps/meteor/app/voip @RocketChat/omnichannel
/apps/meteor/app/sms @RocketChat/omnichannel
/apps/meteor/server @RocketChat/backend
/packages/models @RocketChat/Architecture
apps/meteor/server/startup/migrations @RocketChat/Architecture
/apps/meteor/packages/rocketchat-livechat @RocketChat/omnichannel
/apps/meteor/server/services/voip-asterisk @RocketChat/omnichannel
/apps/meteor/server/services/omnichannel-voip @RocketChat/omnichannel
/apps/meteor/server/features/EmailInbox @RocketChat/omnichannel
/apps/meteor/ee/app/canned-responses @RocketChat/omnichannel
/apps/meteor/ee/app/livechat @RocketChat/omnichannel
/apps/meteor/ee/app/livechat-enterprise @RocketChat/omnichannel
/apps/meteor/client/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/voip @RocketChat/omnichannel

Deploy preview for PR 35570 🛫
  pr-preview/pr-35570/fuselage-ui-kit/project.json
  pr-preview/pr-35570/gazzodown/project.json
  pr-preview/pr-35570/ui-composer/project.json
Owners: none

fix: 2FA check flashing for mandatory roles (#35340)
  .changeset/chatty-kids-compare.md
  apps/meteor/app/authentication/server/startup/index.js
  apps/meteor/app/utils/server/functions/getBaseUserFields.ts
  apps/meteor/app/utils/server/functions/getDefaultUserFields.ts
  apps/meteor/server/startup/initialData.js
  apps/meteor/tests/e2e/enforce-2FA.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  ee/apps/ddp-streamer/src/DDPStreamer.ts
Owners: @RocketChat/backend, @RocketChat/frontend

fix: 2FA check flashing for mandatory roles (#35340)
  .changeset/chatty-kids-compare.md
  apps/meteor/app/authentication/server/startup/index.js
  apps/meteor/app/utils/server/functions/getBaseUserFields.ts
  apps/meteor/app/utils/server/functions/getDefaultUserFields.ts
  apps/meteor/server/startup/initialData.js
  apps/meteor/tests/e2e/enforce-2FA.spec.ts
  apps/meteor/tests/e2e/page-objects/fragments/home-sidenav.ts
  ee/apps/ddp-streamer/src/DDPStreamer.ts
Owners: @RocketChat/backend, @RocketChat/frontend

Deploy preview for PR 35575 🛫
  pr-preview/pr-35575/fuselage-ui-kit/project.json
  pr-preview/pr-35575/gazzodown/project.json
  pr-preview/pr-35575/ui-composer/project.json
Owners: none

test: fix review
  apps/meteor/tests/e2e/administration-settings.spec.ts
  apps/meteor/tests/e2e/page-objects/admin.ts
Owners: @RocketChat/frontend

chore: update changeset
  .changeset/honest-toys-guess.md
Owners: none

test: more tests
  apps/meteor/tests/e2e/flaky/11-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/12-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/13-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/14-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/15-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/16-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/17-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/18-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/19-omnichannel-livechat-message-bubble-color.spec.ts
  apps/meteor/tests/e2e/flaky/20-omnichannel-livechat-message-bubble-color.spec.ts
Owners: @RocketChat/frontend

Deploy preview for PR 35273 🛫
  pr-preview/pr-35273/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35273/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35273/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35273/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35273/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35273/fuselage-ui-kit/iframe.html
  pr-preview/pr-35273/fuselage-ui-kit/project.json
  pr-preview/pr-35273/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35273/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35273/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35273/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35273/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35273/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35273/gazzodown/iframe.html
  pr-preview/pr-35273/gazzodown/project.json
  pr-preview/pr-35273/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35273/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35273/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35273/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35273/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35273/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35273/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35273/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35273/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35273/uikit-playground/index.html
Owners: none

fix: add preserveSymlinks to base
  .yarnrc.yml
  tsconfig.base.json
Owners: none

Deploy preview for PR 35571 🛫
  pr-preview/pr-35571/fuselage-ui-kit/project.json
  pr-preview/pr-35571/gazzodown/project.json
  pr-preview/pr-35571/ui-composer/project.json
Owners: none

refactor: remove KonchatNotification `newMessage` from meteor (#35570)
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
  apps/meteor/client/hooks/notification/useNewMessageNotification.ts
  apps/meteor/client/hooks/notification/useNewRoomNotification.ts
  apps/meteor/client/hooks/notification/useNotifyUser.ts
  apps/meteor/client/providers/OmnichannelProvider.tsx
  apps/meteor/client/views/root/AppLayout.tsx
Owners: @RocketChat/frontend

refactor: create `useNewMessageNotification`
  apps/meteor/client/hooks/useNewMessageNotification.ts
Owners: @RocketChat/frontend

refactor: create `useDesktopNotification`
  apps/meteor/client/hooks/notification/useDesktopNotification.ts
Owners: @RocketChat/frontend

chore: reorg files into `hooks/notification` folder
  apps/meteor/client/hooks/useNewMessageNotification.ts
Owners: @RocketChat/frontend

refactor: replace `KonchatNotification.showDesktop` with `useDesktopNotification`
  apps/meteor/client/hooks/notification/useNotifyUser.ts
Owners: @RocketChat/frontend

chore: remove deprecated `showDesktop` method
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
Owners: none

Deploy preview for PR 35575 🛫
  pr-preview/pr-35575/fuselage-ui-kit/project.json
  pr-preview/pr-35575/gazzodown/project.json
  pr-preview/pr-35575/ui-composer/project.json
Owners: none

fix: urlencoded webhook payload parsing (#35532)
  .changeset/real-badgers-clap.md
  apps/meteor/app/integrations/server/api/api.js
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
Owners: @RocketChat/backend

fix: urlencoded webhook payload parsing (#35532)
  .changeset/real-badgers-clap.md
  apps/meteor/app/integrations/server/api/api.js
  apps/meteor/tests/end-to-end/api/incoming-integrations.ts
Owners: @RocketChat/backend

Improve usage of MessageListProvider
  apps/meteor/client/components/GazzodownText.spec.tsx
  apps/meteor/client/components/GazzodownText.tsx
  apps/meteor/client/components/message/MessageHeader.tsx
  apps/meteor/client/components/message/hooks/useNormalizedMessage.ts
  apps/meteor/client/components/message/hooks/useOembedLayout.ts
  apps/meteor/client/components/message/list/MessageListContext.tsx
  apps/meteor/client/components/message/toolbar/items/actions/QuoteMessageAction.tsx
  apps/meteor/client/components/message/toolbar/useReadReceiptsDetailsAction.tsx
  apps/meteor/client/components/message/variants/SystemMessage.tsx
  apps/meteor/client/components/message/variants/room/RoomMessageContent.tsx
  apps/meteor/client/components/message/variants/thread/ThreadMessageContent.tsx
  apps/meteor/client/views/room/MessageList/MessageListItem.tsx
  apps/meteor/client/views/room/MessageList/hooks/useAutoLinkDomains.ts
  apps/meteor/client/views/room/MessageList/hooks/useMessageBody.tsx
  apps/meteor/client/views/room/MessageList/providers/MessageListProvider.tsx
Owners: @RocketChat/frontend

Deploy preview for PR 35576 🛫
  pr-preview/pr-35576/fuselage-ui-kit/project.json
  pr-preview/pr-35576/gazzodown/project.json
  pr-preview/pr-35576/ui-composer/project.json
Owners: none

Deploy preview for PR 35569 🛫
  pr-preview/pr-35569/ui-composer/project.json
Owners: none

Deploy preview for PR 35565 🛫
  pr-preview/pr-35565/fuselage-ui-kit/project.json
  pr-preview/pr-35565/gazzodown/project.json
  pr-preview/pr-35565/ui-composer/project.json
Owners: none

chore: Helper script to replace sprintf tokens `%s` on translation strings (#35569)
  apps/meteor/.scripts/replaceTranslationSprintfParams.ts
  apps/meteor/package.json
Owners: none

feat: set busy status on calendar appointments (#35474)
  .changeset/lovely-ways-move.md
  apps/meteor/app/api/server/v1/calendar.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/ee/server/settings/outlookCalendar.ts
  apps/meteor/server/services/calendar/service.ts
  apps/meteor/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/server/services/calendar/statusEvents/cancelUpcomingStatusChanges.ts
  apps/meteor/server/services/calendar/statusEvents/generateCronJobId.ts
  apps/meteor/server/services/calendar/statusEvents/handleOverlappingEvents.ts
  apps/meteor/server/services/calendar/statusEvents/index.ts
  apps/meteor/server/services/calendar/statusEvents/removeCronJobs.ts
  apps/meteor/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
  apps/meteor/server/services/calendar/utils/getShiftedTime.ts
  apps/meteor/tests/e2e/presence.spec.ts
  apps/meteor/tests/unit/server/services/calendar/mocks/cronJobs.ts
  apps/meteor/tests/unit/server/services/calendar/service.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/cancelUpcomingStatusChanges.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/generateCronJobId.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/handleOverlappingEvents.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/removeCronJobs.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
  apps/meteor/tests/unit/server/services/calendar/utils/getShiftedTime.tests.ts
  apps/meteor/tests/unit/server/services/utils.ts
  packages/core-services/src/types/ICalendarService.ts
  packages/core-typings/src/ICalendarEvent.ts
  packages/model-typings/src/models/ICalendarEventModel.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/CalendarEvent.ts
  packages/models/src/models/Users.ts
  packages/rest-typings/src/v1/calendar/CalendarEventCreateProps.ts
  packages/rest-typings/src/v1/calendar/CalendarEventImportProps.ts
  packages/rest-typings/src/v1/calendar/CalendarEventUpdateProps.ts
Owners: @RocketChat/backend, @RocketChat/frontend, @RocketChat/Architecture

Update triggerHandler.js
  apps/meteor/app/integrations/server/lib/triggerHandler.js
Owners: none

Update triggerHandler.js
  apps/meteor/app/integrations/server/lib/triggerHandler.js
Owners: none

fix echo
  apps/meteor/app/integrations/server/api/api.js
  apps/meteor/app/integrations/server/lib/triggerHandler.js
Owners: none

Update api.js
  apps/meteor/app/integrations/server/api/api.js
Owners: none

Update api.js
  apps/meteor/app/integrations/server/api/api.js
Owners: none

fix: add pregnant man emojis and person emojis
  packages/livechat/src/lib/emoji/emojis.ts
Owners: @RocketChat/frontend, @RocketChat/Architecture

refactor: remove KonchatNotification `showDesktop` from meteor (#35576)
  apps/meteor/app/ui/client/lib/KonchatNotification.ts
  apps/meteor/client/hooks/notification/useDesktopNotification.ts
  apps/meteor/client/hooks/notification/useNotifyUser.ts
Owners: @RocketChat/frontend

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/ui-composer/project.json
Owners: none

[FEAT] passkey registration
  .yarnrc.yml
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/client/views/account/security/AccountSecurityPage.tsx
  apps/meteor/client/views/account/security/Passkeys.tsx
  apps/meteor/package.json
  yarn.lock
Owners: @RocketChat/frontend

feat: set busy status on calendar appointments (#35474)
  .changeset/lovely-ways-move.md
  apps/meteor/app/api/server/v1/calendar.ts
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/ee/server/settings/outlookCalendar.ts
  apps/meteor/server/services/calendar/service.ts
  apps/meteor/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/server/services/calendar/statusEvents/cancelUpcomingStatusChanges.ts
  apps/meteor/server/services/calendar/statusEvents/generateCronJobId.ts
  apps/meteor/server/services/calendar/statusEvents/handleOverlappingEvents.ts
  apps/meteor/server/services/calendar/statusEvents/index.ts
  apps/meteor/server/services/calendar/statusEvents/removeCronJobs.ts
  apps/meteor/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
  apps/meteor/server/services/calendar/utils/getShiftedTime.ts
  apps/meteor/tests/e2e/presence.spec.ts
  apps/meteor/tests/unit/server/services/calendar/mocks/cronJobs.ts
  apps/meteor/tests/unit/server/services/calendar/service.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/applyStatusChange.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/cancelUpcomingStatusChanges.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/generateCronJobId.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/handleOverlappingEvents.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/removeCronJobs.tests.ts
  apps/meteor/tests/unit/server/services/calendar/statusEvents/setupAppointmentStatusChange.ts
  apps/meteor/tests/unit/server/services/calendar/utils/getShiftedTime.tests.ts
  apps/meteor/tests/unit/server/services/utils.ts
  packages/core-services/src/types/ICalendarService.ts
  packages/core-typings/src/ICalendarEvent.ts
  packages/model-typings/src/models/ICalendarEventModel.ts
  packages/model-typings/src/models/IUsersModel.ts
  packages/models/src/models/CalendarEvent.ts
  packages/models/src/models/Users.js
  packages/rest-typings/src/v1/calendar/CalendarEventCreateProps.ts
  packages/rest-typings/src/v1/calendar/CalendarEventImportProps.ts
  packages/rest-typings/src/v1/calendar/CalendarEventUpdateProps.ts
Owners: @RocketChat/backend, @RocketChat/frontend, @RocketChat/Architecture

Deploy preview for PR 35565 🛫
  pr-preview/pr-35565/fuselage-ui-kit/project.json
  pr-preview/pr-35565/gazzodown/project.json
  pr-preview/pr-35565/ui-composer/project.json
Owners: none

Deploy preview for PR 35464 🛫
  pr-preview/pr-35464/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35464/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35464/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35464/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35464/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35464/fuselage-ui-kit/iframe.html
  pr-preview/pr-35464/fuselage-ui-kit/project.json
  pr-preview/pr-35464/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35464/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35464/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35464/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35464/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35464/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35464/gazzodown/iframe.html
  pr-preview/pr-35464/gazzodown/project.json
  pr-preview/pr-35464/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35464/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35464/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35464/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35464/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35464/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35464/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35464/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35464/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35464/uikit-playground/index.html
Owners: none

Deploy preview for PR 35397 🛫
  pr-preview/pr-35397/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35397/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35397/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35397/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35397/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35397/fuselage-ui-kit/iframe.html
  pr-preview/pr-35397/fuselage-ui-kit/project.json
  pr-preview/pr-35397/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35397/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35397/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35397/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35397/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35397/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35397/gazzodown/iframe.html
  pr-preview/pr-35397/gazzodown/project.json
  pr-preview/pr-35397/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35397/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35397/ui-composer/project.json
  pr-preview/pr-35397/uikit-playground/assets/CodeBlock-Cw_k6ou7.js
  pr-preview/pr-35397/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35397/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35397/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35397/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35397/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35397/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35397/uikit-playground/index.html
Owners: none

feat: adds contact custom field update when visitor's contact exists
  apps/meteor/app/livechat/server/lib/LivechatTyped.ts
Owners: @RocketChat/omnichannel

fix(federation-v2): can not assign to readonly property #name (#35397)
  .changeset/odd-waves-destroy.md
  apps/meteor/server/services/federation/application/AbstractFederationApplicationService.ts
  apps/meteor/server/services/federation/domain/FederatedUser.ts
  packages/core-typings/package.json
  packages/core-typings/src/IUser.ts
Owners: @RocketChat/backend, @RocketChat/Architecture
