Repository RocketChat/Rocket.Chat, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RocketChat/Architecture, @RocketChat/apps, @RocketChat/backend, @RocketChat/frontend, @RocketChat/omnichannel

Deploy preview for PR 35464 🛫
  pr-preview/pr-35464/fuselage-ui-kit/project.json
  pr-preview/pr-35464/gazzodown/project.json
Owners: none

Update .changeset/fifty-moles-boil.md
  .changeset/fifty-moles-boil.md
Owners: none

fix: Add Apps log TTL index (#35497)
  .changeset/fifty-moles-boil.md
  apps/meteor/ee/server/apps/startup.ts
  packages/model-typings/src/models/IAppLogsModel.ts
  packages/models/src/models/AppLogsModel.ts
  packages/models/src/models/BaseRaw.ts
Owners: @RocketChat/Architecture

test: added test case for allowing unit change while creating a department
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitor-department.spec.ts
Owners: @RocketChat/frontend

Deploy preview for PR 35497 🛫
  pr-preview/pr-35497/fuselage-ui-kit/project.json
  pr-preview/pr-35497/gazzodown/project.json
  pr-preview/pr-35497/ui-composer/project.json
Owners: none

fix: department's unit field becomes disabled after selecting a unit
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
Owners: @RocketChat/frontend

fix ts
  apps/meteor/client/components/message/variants/ThreadMessagePreview.tsx
Owners: @RocketChat/frontend

chore: move `UserPresenceContext` to `ui-contexts`
  apps/meteor/app/otr/client/OTRRoom.ts
  apps/meteor/client/components/UserStatus/ReactiveUserStatus.tsx
  apps/meteor/client/components/message/MessageHeader.tsx
  apps/meteor/client/components/message/variants/SystemMessage.tsx
  apps/meteor/client/components/message/variants/room/RoomMessageContent.tsx
  apps/meteor/client/components/message/variants/thread/ThreadMessageContent.tsx
  apps/meteor/client/contexts/UserPresenceContext.ts
  apps/meteor/client/hooks/usePresence.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/presence.ts
  apps/meteor/client/providers/UserPresenceProvider.tsx
  apps/meteor/client/views/admin/deviceManagement/DeviceManagementInfo/DeviceManagementInfo.tsx
  apps/meteor/client/views/room/Header/DirectRoomHeader.tsx
  apps/meteor/client/views/room/body/RoomTopic.tsx
  apps/meteor/client/views/room/contextualBar/OTR/OTRWithData.tsx
  packages/core-typings/src/IUser.ts
  packages/core-typings/src/Subscribable.ts
  packages/core-typings/src/index.ts
  packages/mock-providers/jest.config.ts
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/mock-providers/src/tests/useSetting.spec.tsx
  packages/mock-providers/src/tests/useSettings.spec.tsx
  packages/mock-providers/src/tests/useUserPresence.spec.tsx
  packages/ui-contexts/src/UserPresenceContext.ts
  packages/ui-contexts/src/hooks/useUserPresence.ts
  packages/ui-contexts/src/index.ts
Owners: @RocketChat/frontend, @RocketChat/Architecture

Deploy preview for PR 35464 🛫
  pr-preview/pr-35464/fuselage-ui-kit/project.json
  pr-preview/pr-35464/gazzodown/project.json
Owners: none

Deploy preview for PR 35577 🛫
  pr-preview/pr-35577/fuselage-ui-kit/project.json
  pr-preview/pr-35577/gazzodown/project.json
  pr-preview/pr-35577/ui-composer/project.json
Owners: none

Deploy preview for PR 35582 🛫
  pr-preview/pr-35582/gazzodown/project.json
  pr-preview/pr-35582/ui-composer/project.json
Owners: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/ui-composer/project.json
Owners: none

Deploy preview for PR 35078 🛫
  pr-preview/pr-35078/fuselage-ui-kit/project.json
  pr-preview/pr-35078/gazzodown/project.json
  pr-preview/pr-35078/ui-composer/project.json
Owners: none

fix: CodeSettingInput renders duplicate code text box (#35273)
  .changeset/honest-toys-guess.md
  apps/meteor/client/views/admin/settings/Setting/inputs/CodeMirror/CodeMirror.tsx
  apps/meteor/tests/e2e/administration-settings.spec.ts
  apps/meteor/tests/e2e/page-objects/admin.ts
Owners: @RocketChat/frontend

feat(federation-v2): allow federated user deletion if the user doesn't exist remotely (#35464)
  .changeset/strong-shoes-end.md
  apps/meteor/app/lib/server/functions/deleteUser.ts
Owners: none

Deploy preview for PR 35583 🛫
  pr-preview/pr-35583/gazzodown/project.json
  pr-preview/pr-35583/ui-composer/project.json
Owners: none

regression: Department's unit field becomes disabled after selecting a unit (#35581)
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitor-department.spec.ts
Owners: @RocketChat/frontend

test: uuid for mock unit names to avoid name collision
  apps/meteor/tests/e2e/utils/omnichannel/units.ts
Owners: @RocketChat/frontend

fix: missing error state to unit field
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
Owners: @RocketChat/omnichannel, @RocketChat/frontend

test: added test case for required unit field
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitor-department.spec.ts
Owners: @RocketChat/frontend

fixed
  apps/meteor/client/views/room/contextualBar/UserInfo/UserInfoActions.tsx
Owners: @RocketChat/frontend

prevent from running on every navigation
  apps/meteor/app/emoji-emojione/client/hooks/useEmojiOne.ts
Owners: none

fix: review
  packages/mock-providers/src/tests/useUserPresence.spec.tsx
Owners: none

Deploy preview for PR 35582 🛫
  pr-preview/pr-35582/fuselage-ui-kit/project.json
  pr-preview/pr-35582/gazzodown/project.json
  pr-preview/pr-35582/ui-composer/project.json
Owners: none

regression: Department's unit field missing error state (#35583)
  apps/meteor/client/omnichannel/additionalForms/AutoCompleteUnit.tsx
  apps/meteor/client/views/omnichannel/departments/EditDepartment.tsx
  apps/meteor/tests/e2e/omnichannel/omnichannel-monitor-department.spec.ts
  apps/meteor/tests/e2e/utils/omnichannel/units.ts
Owners: @RocketChat/omnichannel, @RocketChat/frontend

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/ui-composer/project.json
Owners: none

chore: Move `UserPresenceContext` to `ui-contexts` (#35582)
  apps/meteor/app/otr/client/OTRRoom.ts
  apps/meteor/client/components/UserStatus/ReactiveUserStatus.tsx
  apps/meteor/client/components/message/MessageHeader.tsx
  apps/meteor/client/components/message/variants/SystemMessage.tsx
  apps/meteor/client/components/message/variants/room/RoomMessageContent.tsx
  apps/meteor/client/components/message/variants/thread/ThreadMessageContent.tsx
  apps/meteor/client/contexts/UserPresenceContext.ts
  apps/meteor/client/hooks/usePresence.ts
  apps/meteor/client/lib/chats/ChatAPI.ts
  apps/meteor/client/lib/presence.ts
  apps/meteor/client/providers/UserPresenceProvider.tsx
  apps/meteor/client/views/admin/deviceManagement/DeviceManagementInfo/DeviceManagementInfo.tsx
  apps/meteor/client/views/room/Header/DirectRoomHeader.tsx
  apps/meteor/client/views/room/body/RoomTopic.tsx
  apps/meteor/client/views/room/contextualBar/OTR/OTRWithData.tsx
  packages/core-typings/src/IUser.ts
  packages/core-typings/src/Subscribable.ts
  packages/core-typings/src/index.ts
  packages/mock-providers/jest.config.ts
  packages/mock-providers/src/MockedAppRootBuilder.tsx
  packages/mock-providers/src/tests/useSetting.spec.tsx
  packages/mock-providers/src/tests/useSettings.spec.tsx
  packages/mock-providers/src/tests/useUserPresence.spec.tsx
  packages/ui-contexts/src/UserPresenceContext.ts
  packages/ui-contexts/src/hooks/useUserPresence.ts
  packages/ui-contexts/src/index.ts
Owners: @RocketChat/frontend, @RocketChat/Architecture

Deploy preview for PR 35553 🛫
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/iframe.html
  pr-preview/pr-35553/fuselage-ui-kit/project.json
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/iframe.html
  pr-preview/pr-35553/gazzodown/project.json
  pr-preview/pr-35553/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35553/ui-composer/project.json
  pr-preview/pr-35553/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35553/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35553/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35553/uikit-playground/index.html
Owners: none

Deploy preview for PR 35588 🛫
  pr-preview/pr-35588/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35588/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35588/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35588/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35588/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35588/fuselage-ui-kit/iframe.html
  pr-preview/pr-35588/fuselage-ui-kit/project.json
  pr-preview/pr-35588/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35588/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35588/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35588/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35588/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35588/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35588/gazzodown/iframe.html
  pr-preview/pr-35588/gazzodown/project.json
  pr-preview/pr-35588/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35588/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35588/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35588/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35588/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35588/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35588/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35588/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35588/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35588/uikit-playground/index.html
Owners: none

Deploy preview for PR 35470 🛫
  pr-preview/pr-35470/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35470/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35470/fuselage-ui-kit/736.cd70056d.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/736.cd70056d.iframe.bundle.js.map
  pr-preview/pr-35470/fuselage-ui-kit/iframe.html
  pr-preview/pr-35470/fuselage-ui-kit/project.json
  pr-preview/pr-35470/fuselage-ui-kit/runtime~main.7c9f5526.iframe.bundle.js
  pr-preview/pr-35470/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.265b968d.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.265b968d.iframe.bundle.js.map
  pr-preview/pr-35470/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35470/gazzodown/iframe.html
  pr-preview/pr-35470/gazzodown/project.json
  pr-preview/pr-35470/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35470/gazzodown/runtime~main.fb27eb60.iframe.bundle.js
  pr-preview/pr-35470/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35470/uikit-playground/assets/KatexBlock-DZ8P3wbs.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-BStlE9Ki.js
  pr-preview/pr-35470/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35470/uikit-playground/assets/index-BiDkU8ZK.js
  pr-preview/pr-35470/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35470/uikit-playground/index.html
Owners: none

[FEAT] passkey login
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/client/providers/AuthenticationProvider/AuthenticationProvider.tsx
  apps/meteor/client/views/account/security/AccountSecurityPage.tsx
  apps/meteor/client/views/account/security/Passkey.tsx
  apps/meteor/server/main.ts
  apps/meteor/server/passkey.ts
  packages/ddp-client/package.json
  packages/ddp-client/src/types/methods.ts
  packages/web-ui-registration/package.json
  packages/web-ui-registration/src/LoginForm.tsx
  yarn.lock
Owners: @RocketChat/frontend, @RocketChat/backend

fix misaligned checkbox on 'Register your workspace' page
  apps/meteor/client/views/admin/workspace/VersionCard/modals/RegisterWorkspaceSetupModal/RegisterWorkspaceSetupStepOneModal.tsx
Owners: @RocketChat/frontend

refactor
  apps/meteor/app/api/server/v1/users.ts
  apps/meteor/app/passkey/server/index.ts
  apps/meteor/client/views/account/security/Passkey.tsx
  apps/meteor/server/configuration/index.ts
  apps/meteor/server/configuration/passkey.ts
  apps/meteor/server/passkey.ts
  packages/web-ui-registration/src/LoginForm.tsx
  packages/web-ui-registration/src/hooks/useEndpointAction.ts
Owners: @RocketChat/frontend, @RocketChat/backend

Deploy preview for PR 35553 🛫
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35553/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/iframe.html
  pr-preview/pr-35553/fuselage-ui-kit/project.json
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/iframe.html
  pr-preview/pr-35553/gazzodown/project.json
  pr-preview/pr-35553/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35553/ui-composer/project.json
  pr-preview/pr-35553/uikit-playground/assets/CodeBlock-D9_al2YO.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35553/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35553/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35553/uikit-playground/index.html
Owners: none

ee test used existing test users fixtures
  apps/meteor/tests/e2e/register.spec.ts
Owners: @RocketChat/frontend

added changeset
  .changeset/shy-files-approve.md
Owners: none

fix: changing email to verified not working on admin > users (#35299)
  .changeset/bright-forks-drop.md
  apps/meteor/app/lib/server/functions/saveUser/saveUser.ts
  apps/meteor/tests/end-to-end/api/users.ts
Owners: @RocketChat/backend

fix: review
  apps/meteor/client/views/room/body/RoomTopic.spec.tsx
  apps/meteor/client/views/room/body/RoomTopic.tsx
Owners: @RocketChat/frontend

regression: topic rendering in discussion in new navigation
  apps/meteor/client/views/room/body/RoomTopic.spec.tsx
  apps/meteor/client/views/room/body/RoomTopic.tsx
Owners: @RocketChat/frontend

Deploy preview for PR 35553 🛫
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.LICENSE.txt
  pr-preview/pr-35553/fuselage-ui-kit/736.32475f7d.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/736.d8b701fb.iframe.bundle.js.map
  pr-preview/pr-35553/fuselage-ui-kit/iframe.html
  pr-preview/pr-35553/fuselage-ui-kit/project.json
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.a2b46934.iframe.bundle.js
  pr-preview/pr-35553/fuselage-ui-kit/runtime~main.eaf98e0f.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.59db7f25.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.59db7f25.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/Markup-stories.ed371d4b.iframe.bundle.js.map
  pr-preview/pr-35553/gazzodown/iframe.html
  pr-preview/pr-35553/gazzodown/project.json
  pr-preview/pr-35553/gazzodown/runtime~main.9a51c8d8.iframe.bundle.js
  pr-preview/pr-35553/gazzodown/runtime~main.c33a4b51.iframe.bundle.js
  pr-preview/pr-35553/ui-composer/project.json
  pr-preview/pr-35553/uikit-playground/assets/CodeBlock-C_6EwMvy.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-CUlD-5ZD.js
  pr-preview/pr-35553/uikit-playground/assets/KatexBlock-Jv6rIlw-.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-CB5IkeBU.js
  pr-preview/pr-35553/uikit-playground/assets/KatexElement-D13-itrq.js
  pr-preview/pr-35553/uikit-playground/assets/index-B-bDnzi1.js
  pr-preview/pr-35553/uikit-playground/assets/index-CJoIm0z6.js
  pr-preview/pr-35553/uikit-playground/index.html
Owners: none

.github/CODEOWNERS:

/packages/* @RocketChat/Architecture
/packages/apps-engine/ @RocketChat/apps
/packages/core-typings/ @RocketChat/Architecture
/packages/rest-typings/ @RocketChat/Architecture @RocketChat/backend
/packages/ui-contexts/ @RocketChat/frontend
/packages/eslint-config/ @RocketChat/Architecture
/packages/livechat/ @RocketChat/frontend @RocketChat/Architecture
/.vscode/ @RocketChat/Architecture
/.github/ @RocketChat/Architecture
/_templates/ @RocketChat/Architecture
/apps/meteor/client/ @RocketChat/frontend
/apps/meteor/tests/e2e @RocketChat/frontend
/apps/meteor/tests/end-to-end @RocketChat/backend
/apps/meteor/tests/unit/app @RocketChat/backend
/apps/meteor/tests/unit/app/ui-utils @RocketChat/frontend
/apps/meteor/tests/unit/client @RocketChat/frontend
/apps/meteor/tests/unit/server @RocketChat/backend
/apps/meteor/app/apps/ @RocketChat/apps
/apps/meteor/app/livechat @RocketChat/omnichannel
/apps/meteor/app/voip @RocketChat/omnichannel
/apps/meteor/app/sms @RocketChat/omnichannel
/apps/meteor/server @RocketChat/backend
/packages/models @RocketChat/Architecture
apps/meteor/server/startup/migrations @RocketChat/Architecture
/apps/meteor/packages/rocketchat-livechat @RocketChat/omnichannel
/apps/meteor/server/services/voip-asterisk @RocketChat/omnichannel
/apps/meteor/server/services/omnichannel-voip @RocketChat/omnichannel
/apps/meteor/server/features/EmailInbox @RocketChat/omnichannel
/apps/meteor/ee/app/canned-responses @RocketChat/omnichannel
/apps/meteor/ee/app/livechat @RocketChat/omnichannel
/apps/meteor/ee/app/livechat-enterprise @RocketChat/omnichannel
/apps/meteor/client/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/omnichannel @RocketChat/omnichannel
/apps/meteor/client/components/voip @RocketChat/omnichannel
