Repository RocketChat/Rocket.Chat, pull requests merged in 2019-11, with the labels that each got.

#15707 [FIX] Sending messages to livechat rooms without a subscription
  app/authorization/server/functions/canSendMessage.js
Labels: feat: livechat, type: bug

#15699 [FIX] fix bug on livechat message webhook when sending a image
  app/livechat/server/hooks/sendToCRM.js
Labels: feat: livechat, type: bug

#15717 [FIX] Apply server side filters on Livechat lists
  app/livechat/client/views/app/livechatAgents.js
  app/livechat/client/views/app/livechatDepartments.js
  app/livechat/imports/server/rest/departments.js
  app/livechat/imports/server/rest/users.js
  app/livechat/server/api/lib/departments.js
  app/livechat/server/api/lib/users.js
  app/models/server/raw/Users.js
  tests/end-to-end/api/livechat/agents.js
Labels: type: bug

#15529 [IMPROVE] Replace livechat:departmentAgents subscription to REST
  app/livechat/client/views/app/tabbar/visitorEdit.js
  app/livechat/imports/server/rest/agent.js
  app/livechat/server/api.js
  app/livechat/server/api/lib/agents.js
  app/livechat/server/publications/departmentAgents.js
  tests/end-to-end/api/livechat/agents.js
Labels: Contain documentation PR, feat: api, type: improvement

#15581 [FIX] line-height to show entire letters
  app/theme/client/imports/components/table.css
Labels: challenge, subj: ui/ux

#15718 [FIX] Forward Livechat UI and the related permissions
  app/livechat/client/views/app/livechatAutocompleteUser.js
  app/livechat/client/views/app/tabbar/visitorForward.html
  app/livechat/client/views/app/tabbar/visitorForward.js
  app/livechat/client/views/app/tabbar/visitorInfo.js
  app/livechat/server/lib/Helper.js
  app/livechat/server/lib/RoutingManager.js
  app/models/server/models/Users.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  server/publications/userAutocomplete.js
Labels: feat: livechat

#15644 [IMPROVE] Replace personalAccessTokens publication by REST
  imports/personal-access-tokens/client/personalAccessTokens.js
  imports/personal-access-tokens/server/publications/personalAccessTokens.js
Labels: type: improvement

#15732 [FIX] Add livechat agents into departments
  app/livechat/client/views/app/livechatDepartmentForm.html
  app/livechat/client/views/app/livechatDepartmentForm.js
  app/livechat/client/views/app/tabbar/visitorEdit.js
  app/livechat/server/api.js
Labels: type: bug

#15618 [Apps] Move external components SDK's host logic into apps-engine
  app/api/server/v1/groups.js
  app/apps/client/RealAppsEngineUIHost.js
  app/apps/client/extrernalComponent.js
  app/apps/client/gameCenter/gameContainer.js
  app/apps/client/index.js
  app/apps/client/orchestrator.js
  app/apps/server/bridges/listeners.js
  app/apps/server/communication/rest.js
  package-lock.json
  package.json
Labels: feat: apps

#15495 [Apps] Support multiple external components per app
  app/apps/client/gameCenter/gameCenter.js
  app/apps/client/gameCenter/tabBarButton.js
  app/apps/server/communication/rest.js
  app/apps/server/orchestrator.js
Labels: feat: apps

#15666 [NEW] Livechat analytics functions
  app/livechat/server/lib/analytics/agents.js
  app/livechat/server/lib/analytics/departments.js
  app/models/server/raw/LivechatDepartment.js
  app/models/server/raw/Users.js
Labels: feat: api, feat: livechat

#15639 [IMPROVE] Replace livechat:visitorInfo publication by REST
  app/livechat/client/collections/LivechatVisitor.js
  app/livechat/client/views/app/tabbar/visitorEdit.js
  app/livechat/client/views/app/tabbar/visitorInfo.js
  app/livechat/imports/server/rest/visitors.js
  app/livechat/server/api.js
  app/livechat/server/api/lib/visitors.js
  app/livechat/server/publications/visitorInfo.js
  app/models/server/raw/LivechatVisitors.js
  app/models/server/raw/index.js
  tests/end-to-end/api/livechat/visitors.js
Labels: Contain documentation PR, type: improvement

#15766 Fix issues introduced by names changing
  app/apps/client/RealAppsEngineUIHost.js
  app/apps/server/communication/rest.js
Labels: feat: apps

#15230 [NEW] Livechat analytics
  app/apps/server/bridges/livechat.js
  app/livechat/lib/messageTypes.js
  app/livechat/server/api/v1/room.js
  app/livechat/server/config.js
  app/livechat/server/hooks/processRoomAbandonment.js
  app/livechat/server/hooks/saveLastVisitorMessageTs.js
  app/livechat/server/index.js
  app/livechat/server/lib/Helper.js
  app/livechat/server/lib/Livechat.js
  app/livechat/server/lib/analytics/departments.js
  app/livechat/server/methods/setDepartmentForVisitor.js
  app/livechat/server/methods/transfer.js
  app/livechat/server/startup.js
  app/livechat/server/statistics/LivechatAgentActivityMonitor.js
  app/models/server/index.js
  app/models/server/models/LivechatAgentActivity.js
  app/models/server/models/LivechatRooms.js
  app/models/server/models/Messages.js
  app/models/server/raw/LivechatDepartment.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  server/startup/migrations/index.js
  server/startup/migrations/v167.js
Labels: feat: livechat

#15780 [FIX] Livechat transfer history messages
  app/livechat/server/lib/Helper.js
  app/livechat/server/lib/Livechat.js
  app/livechat/server/lib/RoutingManager.js
Labels: feat: livechat

#15643 [IMPROVE] Replace livechat:externalMessages publication by REST
  app/livechat/client/index.js
  app/livechat/client/views/app/tabbar/externalSearch.html
  app/livechat/client/views/app/tabbar/externalSearch.js
  app/livechat/imports/server/rest/messages.js
  app/livechat/lib/LivechatExternalMessage.js
  app/livechat/server/api.js
  app/livechat/server/api/lib/messages.js
  app/livechat/server/hooks/externalMessage.js
  app/livechat/server/index.js
  app/livechat/server/publications/externalMessages.js
  app/models/server/index.js
  app/models/server/models/LivechatExternalMessages.js
  app/models/server/raw/LivechatExternalMessages.js
  app/models/server/raw/index.js
  tests/end-to-end/api/livechat/messages.js
Labels: feat: api, type: improvement

#15629 [IMPROVE] Replace livechat:pagesvisited publication by REST
  app/livechat/client/views/app/tabbar/visitorNavigation.js
  app/livechat/imports/server/rest/visitors.js
  app/livechat/server/api/lib/visitors.js
  app/livechat/server/publications/visitorPageVisited.js
  app/models/server/raw/Messages.js
  tests/end-to-end/api/livechat/visitors.js
Labels: Contain documentation PR, type: improvement

#15781 [Apps] Use Meteor built-in random method instead
  app/apps/client/gameCenter/invitePlayers.js
  app/apps/client/utils/index.js
Labels: feat: apps, type: improvement

#15795 [REGRESSION] Add livechat room type to the room's file list
  app/ui-flextab/client/tabs/uploadedFilesList.js
Labels: type: improvement

#15782 [Apps] Add a new setting to enable/disable the Game Center
  app/apps/client/gameCenter/tabBar.js
  app/apps/client/gameCenter/tabBarButton.js
  app/apps/client/index.js
  app/apps/server/orchestrator.js
  app/ui-flextab/client/flexTabBar.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  packages/rocketchat-i18n/i18n/zh.i18n.json
Labels: feat: apps

#15824 [FIX] REST endpoint `chat.syncMessages` returning an error with deleted messages
  app/api/server/v1/chat.js
  app/utils/server/lib/normalizeMessagesForUser.js
Labels: feat: api, feat: rest, type: bug

#15770 [NEW] Add a new stream to emit and listen room data events
  app/livechat/client/route.js
  app/livechat/client/ui.js
  app/livechat/client/views/admin.js
  app/livechat/client/views/app/tabbar/visitorInfo.js
  app/livechat/client/views/regular.js
  app/livechat/server/roomType.js
  app/ui-utils/client/lib/RoomManager.js
  app/utils/lib/RoomTypeConfig.js
  app/utils/stream/constants.js
  server/main.js
  server/publications/room/emitter.js
  server/stream/rooms/index.js
Labels: feat: livechat, type: improvement

#15651 [FIX] Not valid relative URLs on message attachments
  app/lib/server/functions/sendMessage.js
  app/utils/lib/isURL.js
Labels: type: bug

#15691 [IMPROVE] Allow dragging of images and text from browsers
  app/ui/client/views/app/room.js
Labels: subj: ui/ux, type: improvement

#15786 [IMPROVE] Add more fields to iframe integration event `unread-changed-by-subscription`
  client/startup/unread.js
  server/publications/room/index.js
Labels: type: improvement

#14807 [NEW] Setting to dismiss desktop notification only after interaction
  app/api/server/v1/users.js
  app/lib/server/startup/settings.js
  app/ui-account/client/accountPreferences.html
  app/ui-account/client/accountPreferences.js
  app/ui/client/lib/notification.js
  packages/rocketchat-i18n/i18n/de-IN.i18n.json
  packages/rocketchat-i18n/i18n/de.i18n.json
  packages/rocketchat-i18n/i18n/en.i18n.json
  tests/data/user.js
  tests/end-to-end/api/00-miscellaneous.js
Labels: documentation: needed, feat: notification, type: improvement

#15752 [NEW] Option on livechat departments to ensure a chat has tags before closing
  app/livechat/client/views/app/livechatDepartmentForm.html
  app/livechat/client/views/app/livechatDepartmentForm.js
  app/livechat/server/hooks/beforeCloseRoom.js
  app/livechat/server/index.js
  app/livechat/server/lib/Livechat.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
Labels: feat: livechat, sponsored

#15703 [NEW] Add forms to view and edit Livechat agents info
  app/livechat/client/route.js
  app/livechat/client/views/app/livechatAgents.html
  app/livechat/client/views/app/livechatAgents.js
  app/livechat/client/views/app/tabbar/agentEdit.html
  app/livechat/client/views/app/tabbar/agentEdit.js
  app/livechat/client/views/app/tabbar/agentInfo.html
  app/livechat/client/views/app/tabbar/agentInfo.js
  app/livechat/client/views/regular.js
  app/livechat/imports/server/rest/users.js
  app/livechat/server/api/lib/users.js
  app/livechat/server/index.js
  app/livechat/server/lib/Livechat.js
  app/livechat/server/methods/saveAgentInfo.js
  app/models/server/models/LivechatDepartment.js
  app/models/server/models/LivechatDepartmentAgents.js
  app/models/server/models/Users.js
  app/ui-utils/client/lib/AccountBox.js
  app/ui/client/index.js
  app/ui/client/views/app/pageCustomContainer.html
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  packages/rocketchat-i18n/i18n/pt.i18n.json
Labels: feat: livechat

#15869 Fix Livechat duplicated templates error
  app/livechat/client/route.js
  app/livechat/client/stylesheets/livechat.less
  app/livechat/client/views/app/livechatCurrentChats.html
  app/livechat/client/views/app/livechatDepartmentForm.html
  app/livechat/client/views/app/livechatDepartmentForm.js
  app/livechat/client/views/app/livechatRoomTagSelector.html
  app/livechat/client/views/app/livechatRoomTagSelector.js
  app/livechat/client/views/regular.js
Labels: feat: livechat, type: improvement
