Repository RocketChat/Rocket.Chat, pull requests merged in 2019-03, with the labels that each got.

#13502 [FIX] Right arrows in default HTML content
  packages/rocketchat-lib/server/startup/settings.js
Labels: subj: ui/ux, type: improvement

#12095 [NEW] reply with a file
  packages/rocketchat-ui-message/client/messageBox.html
  packages/rocketchat-ui-message/client/messageBox.js
  packages/rocketchat-ui-message/client/startup/messageBoxActions.js
  packages/rocketchat-ui-utils/client/lib/MessageAction.js
  packages/rocketchat-ui/client/lib/chatMessages.js
  packages/rocketchat-ui/client/lib/fileUpload.js
  packages/rocketchat-ui/client/views/app/room.js
  packages/rocketchat_theme/client/imports/general/base_old.css
Labels: subj: ui/ux

#13563 [FIX] Ability to activate an app installed by zip even offline
  packages/rocketchat-apps/client/admin/appManage.js
Labels: feat: apps

#13472 Add better positioning for tooltips on edges
  packages/rocketchat-ui-flextab/client/flexTabBar.html
  packages/rocketchat_theme/client/imports/components/tooltip.css
Labels: subj: ui/ux, type: bug

#13451 [FIX] Restart required to apply changes in API Rate Limiter settings
  packages/rocketchat-api/server/api.js
Labels: feat: api, feat: rest

#13428 [Fix] attachment dates that are null from showing December...
  packages/rocketchat-message-attachments/client/messageAttachment.html
Labels: subj: ui/ux

#13299 Fix: Some german translations
  packages/rocketchat-i18n/i18n/de.i18n.json
Labels: feat: i18n, type: bug

#13598 [IMPROVE] Deprecate fixCordova helper
  packages/rocketchat-lazy-load/client/index.js
  packages/rocketchat-lazy-load/client/lazyloadImage.js
  packages/rocketchat-message-attachments/client/messageAttachment.html
  packages/rocketchat-message-attachments/client/messageAttachment.js
  packages/rocketchat-ui-flextab/client/tabs/uploadedFilesList.html
  packages/rocketchat-ui-flextab/client/tabs/uploadedFilesList.js
Labels: subj: ui/ux, type: improvement

#13467 [FIX] Non-latin room names and other slugifications
  .meteor/packages
  .meteor/versions
  package-lock.json
  package.json
  packages/rocketchat-importer-hipchat-enterprise/server/importer.js
  packages/rocketchat-importer-hipchat/server/importer.js
  packages/rocketchat-ldap/package.js
  packages/rocketchat-ldap/server/sync.js
  packages/rocketchat-lib/package.js
  packages/rocketchat-lib/server/functions/getUsernameSuggestion.js
  packages/rocketchat-ui/client/views/app/createChannel.js
  packages/rocketchat-utils/lib/getValidRoomName.js
Labels: feat: i18n, type: bug

#13310 [NEW] Add offset parameter to channels.history, groups.history, dm.history
  packages/rocketchat-api/server/v1/channels.js
  packages/rocketchat-api/server/v1/groups.js
  packages/rocketchat-api/server/v1/im.js
  packages/rocketchat-lib/server/methods/getChannelHistory.js
Labels: Contain documentation PR, feat: api, feat: rest

#13367 Force some words to translate in other languages
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-ui-flextab/client/tabs/userInfo.html
Labels: feat: i18n, type: improvement

#13599 [FIX] Partially messaging formatting for bold letters
  packages/rocketchat-markdown/lib/parser/original/markdown.js
  packages/rocketchat-markdown/tests/client.tests.js
Labels: feat: message, subj: message rendering, subj: ui/ux, type: improvement

#13530 [NEW] Show department field on Livechat visitor panel
  packages/rocketchat-livechat/client/views/app/tabbar/visitorInfo.html
  packages/rocketchat-livechat/client/views/app/tabbar/visitorInfo.js
  server/publications/room.js
Labels: feat: livechat, type: improvement

#13245 [FIX] Bugfix markdown Marked link new tab
  packages/rocketchat-markdown/lib/parser/marked/marked.js
Labels: feat: message, subj: message rendering, type: improvement

#12370 [NEW] Federation
  .meteor/packages
  .meteor/versions
  imports/message-read-receipt/server/hooks.js
  package-lock.json
  package.json
  packages/rocketchat-api/server/v1/misc.js
  packages/rocketchat-channel-settings/server/methods/saveRoomSettings.js
  packages/rocketchat-federation/README.md
  packages/rocketchat-federation/client/main.js
  packages/rocketchat-federation/package.js
  packages/rocketchat-federation/server/federatedResources/FederatedMessage.js
  packages/rocketchat-federation/server/federatedResources/FederatedResource.js
  packages/rocketchat-federation/server/federatedResources/FederatedRoom.js
  packages/rocketchat-federation/server/federatedResources/FederatedUser.js
  packages/rocketchat-federation/server/federatedResources/index.js
  packages/rocketchat-federation/server/federation-settings.js
  packages/rocketchat-federation/server/logger.js
  packages/rocketchat-federation/server/main.js
  packages/rocketchat-federation/server/methods/federationAddUser.js
  packages/rocketchat-federation/server/methods/federationSearchUsers.js
  packages/rocketchat-federation/server/methods/index.js
  packages/rocketchat-federation/server/peerClient.js
  packages/rocketchat-federation/server/peerDNS.js
  packages/rocketchat-federation/server/peerHTTP.js
  packages/rocketchat-federation/server/peerServer/index.js
  packages/rocketchat-federation/server/peerServer/peerServer.js
  packages/rocketchat-federation/server/peerServer/routes/events.js
  packages/rocketchat-federation/server/peerServer/routes/uploads.js
  packages/rocketchat-federation/server/peerServer/routes/users.js
  packages/rocketchat-federation/server/settingsUpdater.js
  packages/rocketchat-file-upload/lib/FileUpload.js
  packages/rocketchat-file-upload/server/lib/FileUpload.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-lib/server/functions/addUserToRoom.js
  packages/rocketchat-lib/server/functions/createRoom.js
  packages/rocketchat-lib/server/functions/removeUserFromRoom.js
  packages/rocketchat-livechat/.app/package-lock.json
  packages/rocketchat-mentions/lib/Mentions.js
  packages/rocketchat-models/server/index.js
  packages/rocketchat-models/server/models/FederationDNSCache.js
  packages/rocketchat-models/server/models/FederationEvents.js
  packages/rocketchat-models/server/models/FederationKeys.js
  packages/rocketchat-models/server/models/Messages.js
  packages/rocketchat-models/server/models/Users.js
  packages/rocketchat-reactions/server/index.js
  packages/rocketchat-reactions/server/setReaction.js
  packages/rocketchat-slashcommands-invite/server/server.js
  packages/rocketchat-ui/client/views/app/directory.html
  packages/rocketchat-ui/client/views/app/directory.js
  packages/rocketchat-utils/lib/getValidRoomName.js
  packages/rocketchat_theme/client/imports/components/modal/directory.css
  server/methods/browseChannels.js
  server/methods/createDirectMessage.js
  server/methods/muteUserInRoom.js
  server/methods/readMessages.js
  server/methods/removeUserFromRoom.js
  server/methods/unmuteUserInRoom.js
Labels: feat: federation

#13635 [NEW] Bosnian lang (BS)
  packages/rocketchat-i18n/i18n/bs.i18n.json
Labels: feat: i18n, type: improvement

#13486 [FIX] Audio message recording issues
  .eslintignore
  packages/rocketchat-ui-message/client/messageBox.html
  packages/rocketchat-ui-message/client/messageBox.js
  packages/rocketchat-ui-message/client/messageBoxAudioMessage.html
  packages/rocketchat-ui-message/client/messageBoxAudioMessage.js
  packages/rocketchat-ui/client/index.js
  packages/rocketchat-ui/client/lib/recorderjs/audioEncoder.js
  packages/rocketchat-ui/client/lib/recorderjs/audioRecorder.js
  packages/rocketchat-ui/client/lib/recorderjs/recorder.js
  packages/rocketchat-ui/client/public/lame.min.js
  packages/rocketchat-ui/client/public/mp3-realtime-worker.js
  packages/rocketchat-ui/package.js
  packages/rocketchat_theme/client/imports/components/message-box.css
  public/lame.min.js
  public/mp3-realtime-worker.js
  tests/end-to-end/ui/04-main-elements-render.js
  tests/pageobjects/main-content.page.js
  tests/pageobjects/side-nav.page.js
Labels: feat: message, subj: ui/ux, type: bug

#13695 Change the way to resolve DNS for Federation
  app/federation/client/main.js
  app/federation/server/peerDNS.js
Labels: feat: federation

#13675 [FIX] WebRTC wasn't working duo to design and browser's APIs changes
  app/lib/lib/roomTypes/direct.js
  app/theme/client/imports/forms/button.css
  app/ui-flextab/client/tabs/membersList.html
  app/ui-flextab/client/tabs/membersList.js
  app/ui-flextab/client/tabs/userInfo.js
  app/ui-utils/client/lib/popout.html
  app/ui/client/views/app/videoCall/videoCall.html
  app/ui/client/views/app/videoCall/videoCall.js
  app/webrtc/client/WebRTCClass.js
Labels: feat: webrtc, type: bug

#13727 [FIX] Audio message recording
  app/ui-message/client/messageBox.js
  app/ui-message/client/messageBoxAudioMessage.js
  app/ui/client/lib/recorderjs/audioEncoder.js
  app/ui/client/lib/recorderjs/audioRecorder.js
Labels: feat: message, subj: ui/ux, type: bug

#13723 [NEW] Provide new Livechat client as community feature
  .gitignore
  app/livechat/client/views/app/livechatInstallation.html
  app/livechat/client/views/app/livechatInstallation.js
  app/livechat/lib/Assets.js
  app/livechat/server/livechat.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  packages/rocketchat-livechat/package.js
  packages/rocketchat-livechat/plugin/build.sh
Labels: feat: livechat

#13744 [FIX] User is unable to enter multiple emojis by clicking on the emoji icon
  app/ui-message/client/messageBox.js
Labels: subj: ui/ux, type: improvement

#13767 Removing (almost) every dynamic imports
  app/apps/server/bridges/messages.js
  app/apps/server/bridges/rooms.js
  app/apps/server/communication/rest.js
  app/authorization/client/startup.js
  app/authorization/client/views/permissionsRole.js
  app/authorization/server/publications/permissions.js
  app/models/server/models/Messages.js
  app/models/server/models/Subscriptions.js
  app/models/server/models/Users.js
  app/models/server/models/_BaseDb.js
  app/tokenpass/server/cronRemoveUsers.js
  app/ui-cached-collection/client/models/CachedCollection.js
  app/ui/client/lib/esc.js
  app/utils/lib/templateVarHandler.js
Labels: type: improvement

#13775 [NEW] Add e-mail field on Livechat Departments
  app/livechat/client/views/app/livechatDepartmentForm.html
  app/livechat/client/views/app/livechatDepartmentForm.js
  app/livechat/server/api/lib/livechat.js
  app/livechat/server/api/v1/offlineMessage.js
  app/livechat/server/lib/Livechat.js
  app/models/server/models/LivechatDepartment.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
Labels: feat: livechat

#13789 Fix: addRoomAccessValidator method created for Threads
  app/threading/server/authorization.js
Labels: type: bug

#13801 [FIX] Remove spaces in some i18n files
  packages/rocketchat-i18n/i18n/ar.i18n.json
  packages/rocketchat-i18n/i18n/bg.i18n.json
  packages/rocketchat-i18n/i18n/bs.i18n.json
  packages/rocketchat-i18n/i18n/el.i18n.json
  packages/rocketchat-i18n/i18n/es.i18n.json
  packages/rocketchat-i18n/i18n/fi.i18n.json
  packages/rocketchat-i18n/i18n/he.i18n.json
  packages/rocketchat-i18n/i18n/hr.i18n.json
  packages/rocketchat-i18n/i18n/hu.i18n.json
  packages/rocketchat-i18n/i18n/id.i18n.json
  packages/rocketchat-i18n/i18n/it.i18n.json
  packages/rocketchat-i18n/i18n/ja.i18n.json
  packages/rocketchat-i18n/i18n/km.i18n.json
  packages/rocketchat-i18n/i18n/ko.i18n.json
  packages/rocketchat-i18n/i18n/ku.i18n.json
  packages/rocketchat-i18n/i18n/lo.i18n.json
  packages/rocketchat-i18n/i18n/ms-MY.i18n.json
  packages/rocketchat-i18n/i18n/nl.i18n.json
  packages/rocketchat-i18n/i18n/pl.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  packages/rocketchat-i18n/i18n/pt.i18n.json
  packages/rocketchat-i18n/i18n/ro.i18n.json
  packages/rocketchat-i18n/i18n/ru.i18n.json
  packages/rocketchat-i18n/i18n/sk-SK.i18n.json
  packages/rocketchat-i18n/i18n/sq.i18n.json
  packages/rocketchat-i18n/i18n/sr.i18n.json
  packages/rocketchat-i18n/i18n/sv.i18n.json
  packages/rocketchat-i18n/i18n/ta-IN.i18n.json
  packages/rocketchat-i18n/i18n/th-TH.i18n.json
  packages/rocketchat-i18n/i18n/tr.i18n.json
  packages/rocketchat-i18n/i18n/uk.i18n.json
  packages/rocketchat-i18n/i18n/zh.i18n.json
Labels: type: improvement

#13783 [FIX] Forwarded Livechat visitor name is not getting updated on the sidebar
  app/livechat/server/lib/Livechat.js
  app/models/server/models/Subscriptions.js
Labels: feat: livechat

#13803 Add support to search for all users in directory
  app/models/server/models/Users.js
  app/ui/client/views/app/directory.html
  app/ui/client/views/app/directory.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  server/methods/browseChannels.js
Labels: feat: federation

#13806 [BUG] Icon Fixed for Knowledge base on Livechat
  app/livechat/client/ui.js
  app/ui-master/public/README.md
  app/ui-master/public/icons/book.svg
  private/public/icons.svg
  public/public/icons.html
Labels: feat: livechat

#13818 [IMPROVE] Ignore agent status when queuing incoming livechats via Guest Pool
  app/livechat/server/api/lib/livechat.js
  app/livechat/server/lib/Livechat.js
  app/livechat/server/lib/QueueMethods.js
Labels: feat: livechat, type: improvement

#13730 [IMPROVE] Filter agents with autocomplete input instead of select element
  app/livechat/client/views/app/livechatCurrentChats.html
  app/livechat/client/views/app/livechatCurrentChats.js
Labels: feat: livechat, subj: ui/ux

#13752 [IMPROVE] Join channels by sending a message or join button (#13752)
  app/discussion/client/views/creationDialog/CreateDiscussion.js
  app/discussion/server/hooks/propagateDiscussionMetadata.js
  app/discussion/server/index.js
  app/lib/lib/roomTypes/private.js
  app/ui-message/client/messageBox.html
  app/ui-message/client/messageBox.js
  app/ui-message/client/messageBoxNotSubscribed.html
  app/ui-message/client/messageBoxNotSubscribed.js
  app/ui/client/lib/chatMessages.js
  server/startup/migrations/v139.js
Labels: feat: threads / discussions

#13895 [FIX] Some Safari bugs
  app/theme/client/imports/forms/input.css
  app/ui-message/client/messageBox.html
  app/ui-message/client/messageBox.js
  app/ui-message/client/messageBoxAudioMessage.html
  app/ui-message/client/messageBoxAudioMessage.js
Labels: subj: ui/ux, type: bug

#13855 [FIX] VIDEO/JITSI multiple calls before video call
  app/videobridge/client/views/videoFlexTab.js
  app/videobridge/constants.js
  app/videobridge/server/methods/jitsiSetTimeout.js
Labels: feat: video conferencing, subj: ui/ux, type: bug

#12626 [NEW] Add message action to copy message to input as reply
  app/message-action/client/messageAction.html
  app/message-action/client/messageAction.js
  app/ui/client/views/app/room.js
Labels: subj: Bots

#13832 [FIX] Read Receipt for Livechat Messages fixed
  app/livechat/server/roomType.js
  app/utils/lib/RoomTypeConfig.js
  imports/message-read-receipt/client/readReceipts.js
  imports/message-read-receipt/server/lib/ReadReceipt.js
Labels: feat: livechat

#13936 Improve: Support search and adding federated users through regular endpoints
  app/federation/server/PeerClient.js
  app/federation/server/PeerDNS.js
  app/federation/server/PeerHTTP/PeerHTTP.js
  app/federation/server/PeerHTTP/index.js
  app/federation/server/PeerHTTP/utils.js
  app/federation/server/PeerServer/PeerServer.js
  app/federation/server/PeerServer/index.js
  app/federation/server/PeerServer/routes/events.js
  app/federation/server/PeerServer/routes/uploads.js
  app/federation/server/PeerServer/routes/users.js
  app/federation/server/federatedResources/FederatedMessage.js
  app/federation/server/federatedResources/FederatedResource.js
  app/federation/server/federatedResources/FederatedRoom.js
  app/federation/server/federatedResources/FederatedUser.js
  app/federation/server/federatedResources/index.js
  app/federation/server/index.js
  app/federation/server/methods/addUser.js
  app/federation/server/methods/federationAddUser.js
  app/federation/server/methods/federationSearchUsers.js
  app/federation/server/methods/index.js
  app/federation/server/methods/searchUsers.js
  app/federation/server/peerHTTP.js
  app/ui/client/views/app/directory.js
  server/methods/browseChannels.js
  server/methods/createDirectMessage.js
Labels: feat: federation
