Repository RocketChat/Rocket.Chat, pull requests merged in 2019-01, with the labels that each got.

#13074 Remove incorrect pt-BR translation
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
Labels: feat: i18n, type: bug

#13073 [NEW] Add Allow Methods directive to CORS
  packages/rocketchat-api/server/api.js
Labels: feat: api, feat: rest

#13158 [IMPROVE] Adds the "showConnecting" property to Livechat Config payload
  packages/rocketchat-livechat/server/api/lib/livechat.js
  packages/rocketchat-livechat/server/lib/Livechat.js
Labels: feat: livechat, type: improvement

#13108 [NEW] Add new Livechat REST endpoint to update the visitor's status
  packages/rocketchat-livechat/server/api/v1/visitor.js
  packages/rocketchat-livechat/server/lib/Livechat.js
  packages/rocketchat-livechat/server/visitorStatus.js
Labels: Feature: Request, feat: livechat

#13097 [IMPROVE] Return visitorEmails field on Livechat findGuest method
  packages/rocketchat-livechat/server/agentStatus.js
  packages/rocketchat-livechat/server/api/lib/livechat.js
  packages/rocketchat-livechat/server/index.js
  packages/rocketchat-livechat/server/lib/Livechat.js
  packages/rocketchat-livechat/server/models/Users.js
Labels: feat: livechat, type: improvement

#13078 [IMPROVE] Return room type field on Livechat findRoom method
  packages/rocketchat-livechat/server/api/lib/livechat.js
  packages/rocketchat-livechat/server/api/v1/room.js
Labels: feat: livechat, type: improvement

#13168 [IMPROVE] New Livechat statistics added to statistics collector
  packages/rocketchat-statistics/server/functions/get.js
Labels: feat: livechat

#12982 [NEW] Livechat GDPR compliance
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
  packages/rocketchat-livechat/server/api/lib/livechat.js
  packages/rocketchat-livechat/server/api/v1/visitor.js
  packages/rocketchat-livechat/server/config.js
  packages/rocketchat-livechat/server/index.js
  packages/rocketchat-livechat/server/lib/Livechat.js
  packages/rocketchat-livechat/server/models/LivechatVisitors.js
  packages/rocketchat-livechat/server/models/Rooms.js
  packages/rocketchat-livechat/server/models/Subscriptions.js
Labels: feat: livechat

#13105 [FIX] Remove ES6 code from Livechat widget script
  packages/rocketchat-livechat/assets/rocket-livechat.js
Labels: feat: livechat, subj: ui/ux, type: bug

#12927 [FIX] Invite command was not accpeting @ in username
  packages/rocketchat-slashcommands-invite/server/server.js
Labels: feat: commands, type: improvement

#13170 [FIX] Change webdav creation, due to changes in the npm lib after last update
  packages/rocketchat-file-upload/ufs/Webdav/server.js
  packages/rocketchat-webdav/server/methods/addWebdavAccount.js
  packages/rocketchat-webdav/server/methods/getFileFromWebdav.js
  packages/rocketchat-webdav/server/methods/getWebdavFileList.js
  packages/rocketchat-webdav/server/methods/uploadFileToWebdav.js
Labels: type: bug

#13167 [NEW] Added endpoint to update timeout of the jitsi video conference
  packages/rocketchat-api/package.js
  packages/rocketchat-api/server/index.js
  packages/rocketchat-api/server/v1/video-conference.js
  packages/rocketchat-lib/server/methods/joinRoom.js
  tests/end-to-end/api/15-video-conference.js
Labels: Contain documentation PR, feat: api, feat: rest

#13150 [FIX] REST API endpoint `users.getPersonalAccessTokens` error when user has no access tokens
  packages/rocketchat-api/server/v1/users.js
  tests/end-to-end/api/01-users.js
Labels: feat: api, feat: rest, type: bug

#13160 [NEW] Add create, update and delete endpoint for custom emojis
  packages/rocketchat-api/server/v1/emoji-custom.js
  tests/end-to-end/api/12-emoji-custom.js
Labels: Contain documentation PR, feat: api, feat: rest

#12858 [FIX] Emoticons not displayed in room topic
  packages/rocketchat-ui/client/components/header/header.html
  packages/rocketchat-ui/client/components/header/header.js
Labels: subj: ui/ux, type: improvement

#11251 [NEW] Add rate limiter to REST endpoints
  packages/rocketchat-api/package.js
  packages/rocketchat-api/server/api.js
  packages/rocketchat-api/server/settings.js
  packages/rocketchat-authorization/server/startup.js
  packages/rocketchat-i18n/i18n/en.i18n.json
Labels: Contain documentation PR, feat: api, feat: rest

#13177 Language: Edit typo "Обновлить"
  packages/rocketchat-i18n/i18n/ru.i18n.json
Labels: feat: i18n

#13112 [FIX] Few polish translating
  packages/rocketchat-i18n/i18n/pl.i18n.json
Labels: feat: i18n, type: improvement

#13114 [IMPROVE] Persian translations
  packages/rocketchat-i18n/i18n/fa.i18n.json
Labels: feat: i18n, type: improvement

#13207 Regression: Fix emoji search
  packages/rocketchat-emoji/client/emojiPicker.js
Labels: type: release candidate bug
