Repository RocketChat/Rocket.Chat, pull requests merged in 2020-12, with the labels that each got.

#19793 [FIX][ENTERPRISE] Omnichannel Department form is not correctly storing the list of departments allowed for forwarding
  client/views/omnichannel/departments/DepartmentEdit.js
  ee/client/omnichannel/additionalForms/DepartmentForwarding.js
Labels: feat: omnichannel

#19819 Render message location in component
  app/mapview/client/index.js
  app/mapview/client/mapview.js
  app/ui-message/client/message.html
  app/ui-message/client/message.js
  client/startup/renderMessage/index.js
  client/startup/renderMessage/mapview.js
  client/views/location/MapView.tsx
  client/views/location/MapViewFallback.tsx
  client/views/location/MapViewImage.tsx
  client/views/location/MessageLocation.tsx
  client/views/location/useAsyncImage.ts
  definition/IMessage.ts
Labels: feat: geolocation, feat: message, subj: message rendering, type: improvement

#19825 [FIX] Spotify oEmbed
  app/oembed/client/baseWidget.js
  app/oembed/server/providers.js
  app/spotify/client/index.js
  app/spotify/client/oembedSpotifyWidget.html
  app/spotify/client/oembedSpotifyWidget.js
  app/spotify/lib/spotify.js
  app/spotify/server/index.js
  client/importPackages.js
  client/startup/beforeSaveMessage/index.js
  client/startup/beforeSaveMessage/spotify.js
  client/startup/index.js
  client/startup/renderMessage/index.js
  client/startup/renderMessage/spotify.js
Labels: feat: message, subj: message rendering, type: bug

#19904 [FEATURE] Omnichannel / Directory - Contacts Tab
  app/livechat/server/api/lib/visitors.js
  app/livechat/server/api/rest.js
  app/livechat/server/api/v1/contact.js
  app/livechat/server/api/v1/room.js
  app/livechat/server/hooks/saveContactLastChat.js
  app/livechat/server/index.js
  app/livechat/server/lib/Livechat.js
  client/components/CustomFieldsForm.js
  client/components/FilterByText.tsx
  client/components/UserCard.js
  client/contexts/OmnichannelContext.ts
  client/omnichannel/directory/ContactForm.js
  client/omnichannel/directory/ContactInfo.js
  client/omnichannel/directory/ContactTab.js
  client/omnichannel/directory/OmnichannelDirectoryPage.js
  client/omnichannel/directory/Skeleton.js
  client/routes.js
  client/sidebar/sections/Omnichannel.js
  ee/client/omnichannel/ContactManager.js
  ee/client/omnichannel/additionalForms/ContactManager.js
  ee/client/omnichannel/additionalForms/register.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
Labels: Feature: Planned

#19931 [NEW] Omnichannel Contact Center (Directory)
  app/livechat/server/api/lib/visitors.js
  app/livechat/server/api/rest.js
  app/livechat/server/api/v1/contact.js
  app/livechat/server/api/v1/room.js
  app/livechat/server/hooks/saveContactLastChat.js
  app/livechat/server/index.js
  app/livechat/server/lib/Livechat.js
  client/components/CustomFieldsForm.js
  client/components/FilterByText.tsx
  client/components/UserCard.js
  client/components/helpers.js
  client/contexts/OmnichannelContext.ts
  client/omnichannel/directory/ChatTab.js
  client/omnichannel/directory/ContactForm.js
  client/omnichannel/directory/ContactInfo.js
  client/omnichannel/directory/ContactTab.js
  client/omnichannel/directory/OmnichannelDirectoryPage.js
  client/omnichannel/directory/Skeleton.js
  client/routes.js
  client/sidebar/sections/Omnichannel.js
  ee/client/omnichannel/ContactManager.js
  ee/client/omnichannel/additionalForms/ContactManager.js
  ee/client/omnichannel/additionalForms/register.js
  packages/rocketchat-i18n/i18n/en.i18n.json
  packages/rocketchat-i18n/i18n/pt-BR.i18n.json
Labels: documentation: needed
